body{
    margin:0;
    box-sizing: border-box;
}

header {
    height: 140px;
    background-color:#E0E0E0;
}


.container{
    width: 1000px;
    margin: 0 auto;
}

.logo{
    float: left;
    height:100px;
    margin: 10px;
}

.top-nav ul {    
    height: 140px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
    padding: 0 5px;
    list-style-type: none;
}

.top-nav-button{
    padding: 10px 30px;
    height: 30px;
    background-color:#333333;
    text-align: center;
    border-radius: 35px;
    margin: 0 0 30px 20px ;
}

.top-nav-button a{
    color: white;
    font-size: 18px;
}


.top-image {
    background-image: url("../img/Rectangle.png");
    background-size: cover;
    width: 100vw;
    height: 500px;
    position: relative;
}

.top-image .top-message{
    position: absolute;
    left: 5vw;
    bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size:34px;
    text-align: left;
}

.service-detail{
    margin-top: 100px;
    text-align: center;
}

.service-boxes{
    flex-basis: 33.33%;
    display: flex;
    flex-flow: row;
}

.service-box{
    display: box;
    background-color:#C4C4C4;
    font-size: 34px;    
    width: 33.333%;
    height: 300px;
    margin: 10px;
}

.service-box p{
    margin: 5px auto;
    font-size: 16px;
    width: 80%;
}

.circle-container{
    margin-top: 100px;
    text-align: center;
}

.circle {
    background-color:#C4C4C4;
	width: 225px;
	height: 225px;
    border-radius: 50%;
    margin: 100px auto;
}

